<!-- Center gauge group: RPM readout and tachometer sweep. -->
<div class="gauge-group">
  <div class="readout-group readout-rpm">
    <div class="readout">
      <span class="value" id="rpm-val">0000</span>
    </div>
    <label>x100r/min</label>
  </div>
  <div class="readout readout-tach">
    <div class="tach-layers">
      <svg
        id="tach-fill"
        viewBox="0 0 745 283"
        preserveAspectRatio="xMidYMax meet"
      >
        <defs>
          <path
            id="tach-shape"
            d="M1,282h743V27S660,1,574,1c-134,0-308,124-426,140.5-115,9.5-147,1-147,1v139.5"
          />
          <clipPath id="tach-fill-clip">
            <use href="#tach-shape" />
          </clipPath>
        </defs>
        <use href="#tach-shape" />
      </svg>
      <svg
        id="tach-border"
        viewBox="0 0 745 283"
        preserveAspectRatio="xMidYMax meet"
      >
        <polygon
          points="743 26.1 743 28.2 743 170.7 743 281 2 281 2 170.7 2 143.4 2 141.3 .8 141.5 0 141.6 0 283 745 283 745 25.8 743 26.1"
        />
      </svg>
      <svg
        id="tach-pips"
        viewBox="0 0 745 283"
        preserveAspectRatio="xMidYMax meet"
      >
        <defs>
          <pattern
            id="tach-pip-pattern"
            width="19.5"
            height="283"
            patternUnits="userSpaceOnUse"
          >
            <rect class="pip" x="3.75" width="12" height="283" rx="2" />
          </pattern>
        </defs>
        <rect
          width="745"
          height="283"
          fill="url(#tach-pip-pattern)"
          clip-path="url(#tach-fill-clip)"
        />
      </svg>
      <svg
        id="tach-border-top"
        viewBox="0 0 745 283"
        preserveAspectRatio="xMidYMax meet"
      >
        <path
          d="M574,0c-134,0-308,124-426,140.5-115,9.5-148,.8-148,.8v6s33,8.7,148-.8C290.3,122.9,439.3,7.8,574,6c66.1,1.6,112.6,10.9,171,26.3v-6S660,0,574,0Z"
        />
      </svg>
    </div>
  </div>
  <div class="gauge-group-footer"><label>Tach</label></div>
</div>
