<!-- Top row: turn signals flanking the speed and GPS readouts. -->
<div class="row row-top">
  <turn-signal direction="left"></turn-signal>
  <div class="readout readout-speed">
    <span class="value" id="speed-val">000</span> <label>mph</label>
  </div>
  <div class="readout readout-map">
    <img alt="Map" />
    <div class="dot"></div>
  </div>
  <div class="readout-measurements">
    <div class="readout-group">
      <div class="readout">
        <span class="value" id="gps-val"> 0.00000, 0.00000</span>
      </div>
      <label>GPS</label>
    </div>
    <div class="readout-group-miles">
      <div class="readout-group">
        <div class="readout">
          <span class="value" id="gps-val">349,000</span>
        </div>
        <label>miles</label>
      </div>
      <div class="readout-group">
        <div class="readout">
          <span class="value" id="gps-val"> 99,999</span>
        </div>
        <label>trip</label>
      </div>
    </div>
  </div>
  <turn-signal direction="right"></turn-signal>
</div>
