:root {
  --color-primary: #00ff00;
  --color-white: #ffffff;
  --color-black: #050505;
  --color-gray-500: #888888;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;
  --color-lines: var(--color-gray-900);

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 30px;
  --spacing-lg: 60px;
}

@font-face {
  font-family: 'Gona';
  src: url('./assets/fonts/gona.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gona';
  src: url('./assets/fonts/gona-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DS-Digital';
  src: url('./assets/fonts/ds-digii.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--color-lines) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-lines) 1px, transparent 1px);
  color: var(--color-primary); /* Terminal green */
  font-family: 'Gona', sans-serif;
  font-weight: bold;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling on the dash */
}

.container {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 100vh;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-lg);
  flex: 7 1 0;
}

.row-top {
  flex: 3 1 0;
}

.arrow {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  flex: 1;
}

label {
  text-transform: uppercase;
}

.readout {
  padding: var(--spacing-xs);
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  & label {
    color: var(--color-white);
  }
}

.gauge-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex: 1;
  justify-content: space-between;

  &:nth-child(2) {
    flex: 2;
  }

  & .gauge-group-header, & .gauge-group-body, & .gauge-group-footer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    justify-content: space-between;
  }

  & .gauge-group-header {
    border-bottom: 1px solid var(--color-white);
  }

  & .gauge-group-body {
  }

  & .gauge-group-footer {
    border-top: 1px solid var(--color-white);

    & label {
      color: var(--color-white);
    }
  }
}



